html {
	font-size: 62.5%;
}
body {
	font-size: 1.5rem;
	font-family: 'Open Sans';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a {
	text-decoration: none;
	color: $link-color;
}
#offscreen {
	left: -9999em;
	position: absolute;
	top: auto;
	overflow: hidden;
	width: 1px;
	height: 1px;
}
header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 1rem 1.5rem;
	position: relative;
	.mobile_menu_button {
		width: 30%;
		span {
			color: $slate;
		}
		&:before {
			position: absolute;
			content: "";
			top:0;
			right: 75%;
			left:0;
			height: 100px;
		}
	}
	.logo {
		width: 70%;
		img {
			max-width: 147px;
		}
	}
	nav {
		width: 100%;
		padding: 1.5rem 0 1rem 0;
		ul {
			li:not(.dropdown-menu) {
				border-bottom: 1px solid $light-gray;
				a {
					display: block;
					padding: 1rem 0;
					color: $gray;
					font-size:1.3rem;
					line-height: 2;
				}
			}
		}
	}
}
.home-banner {
	padding: 5.1rem 2.1rem;
	background-color: $lab-blue;
	text-align: center;
	font: 400 3rem/1.25em 'Roboto';
	letter-spacing: .2rem;
	color: white;
}
.container {
	padding: 5.1rem 2.1rem;
	display: flex;
	flex-flow: column nowrap;
	background-color: $light-background;
	align-items: flex-start;
	img {
		padding-top: 4rem;
	}
}
h3 {
	font: 3rem/1.38 'Roboto Condensed', sans-serif;
	color: $slate;
	text-transform: uppercase;
	padding-bottom: 10px;
	display: inline-block;
	border-bottom: 2px solid $slate;
	width: 60%;
}