$slate: #006489;
$link-color: #009cd6;
$light-background: #f6f6f6;
$light-gray: #eaeaea;
$light-grey: #eaeaea;
$gray: #888;
$grey: #888;
$another-gray: #737373;
$another-grey: #737373;
$lab-blue: #0000FF;
$almost-black: #1b1b1b;